.container {
  height: 100vh;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up {
  max-width: 800px;
  border: 1px solo;
  width: 100%;
  padding: 2rem 3rem;
  border: 1px solid lightgray;
  border-radius: 16px;
}
.logo-img {
  height: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
}
@media screen and (max-width: 768px) {
  .sign-up {
    padding: 1rem 2rem !important;
    margin-top: 7rem !important;
    margin-bottom: 1rem !important;
  }
  .container {
    height: auto !important;
  }
}
